p {
    color: blue;
}
/* styling for all the paragraph texts */

h3 {
    color: green;
}

.highlight {
    background-color: yellow;
    color: red;
}
/* styling to highlight the sections that I want highlighted */

#quote {
    font-style: italic;
    color: purple;
}
/* making the quotes italicized */

div {
    background-color: lightgray;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

h1  { 
    color: darkblue;
    text-align: center;
}
/* styling for the header */
h2 {
    color: darkgreen;
    text-align: center;
}
h4 {
    color: darkred;
    text-align: center;
}
header {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}
footer {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}
/* footer styling */

img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    max-width: 400px;
    margin: 20px auto;
    display: block;
}
/* styling for the image */